---
layout: default
---
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--waterfall mdl-layout__header--transparent menu-show">
    <div class="mdl-layout__drawer-button navigation-color">
      <i class="material-icons">menu</i>
    </div>
    <div class="mdl-layout__header-row">
      <span class="mdl-color-text--cyan-600 mdl-layout-title">{{ site.title }}</span>
      <div class="mdl-layout-spacer"></div>
      <button id="menu" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect navigation-color">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" id="menu-list" for="menu">
      </ul>
    </div>
  </header>
  {% include drawer.html %}
  <main class="mdl-layout__content">
    {{ content }}
    {% include footer.html %}
  </main>
</div>
<script src="/assets/js/material.min.js"></script>
<script src="/assets/js/highlight.min.js"></script>
<script>
function addElementLi(ul, tag) {
  var a  = document.createElement("a");
  a.setAttribute("class", "mdl-menu__item");
  a.setAttribute("href", '#'+tag.id);
  a.innerHTML = tag.innerHTML;
  ul.appendChild(a);
}
function menu(){
  var ul = document.getElementById("menu-list");
  var tags = document.getElementsByTagName("h2");
  if (tags.length == 0){
    ul.remove(self);
    var button = document.getElementById("menu");
    button.remove(self);
    return;
  }
  for (var i=0; i < tags.length; i++) {
    addElementLi(ul, tags[i])
  }
}
function time() {
  var today=new Date();
  var year=today.getFullYear();
  var CopYear = document.getElementById("year");
  CopYear.innerHTML = year;
}
function run() {
  time();
  menu();
}
window.onload = run;
hljs.initHighlightingOnLoad();
</script>
{% if site.analytics.bool == true %}
{% include google_analytics.html %}
{% endif %}