---
layout: default
---
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--waterfall mdl-layout__header--transparent menu-show">
    <div class="mdl-layout__drawer-button navigation-color">
      <i class="material-icons">menu</i>
    </div>
    <div class="mdl-layout__header-row">
      <span class="mdl-color-text--cyan-600 mdl-layout-title">{{ site.title }}</span>
      <div class="mdl-layout-spacer"></div>
      <button id="menu" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect navigation-color">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" id="menu-list" for="menu">
      </ul>
    </div>
  </header>
  {% include drawer.html %}
  <main class="mdl-layout__content">
    {{ content }}
    {% include footer.html %}
  </main>
</div>
{% include script.html %}