@charset "UTF-8";

body {
  font-family: "Noto Sans SC","Microsoft YaHei","微软雅黑", "Helvetica","Arial",sans-serif;
  color: black;
  background: url("{{ site.background_image }}") repeat;
}
/* -- navigation --*/
.navigation-color i {
  color: #505050;
}
/* -- drawer -- */
#avatar {
  width: 80px;
  height: 80px;
  margin: 0px auto 10px;
  border-radius: 43px;
  border: 3px solid #fff;
}
#avatar-talk {
  text-align: right;
}
.drawer-header {
  padding: 1.5rem;
  background: url("{{ site.navigation.header_image }}") no-repeat;
  background-size: 100%;
  background-color: lightblue;
}
.mdl-layout__drawer {
  background: url("{{ site.navigation.background_image }}") repeat;
}
.mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}
.drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}
.menu-list a {
  font-weight: 500;
}
/* -- show menu list -- */
.menu-show {
  overflow: visible !important;
}
/* -- delete quotation marks -- */
blockquote::before, blockquote::after {
  content: close-quote;
}
/* -- adjust footer -- */
.grid-adjust {
  min-height: 80vh;
}
/* -- article -- */
.entry {
  padding-left: 15px;
}
.entry b{
  font-size: 16px;
  width: 24px;
  height: 24px;
  right: 3px;
  border-radius: 3px 3px;
}
.post-title {
  background-color: #f7f7f7;
  color: #33363b;
  font-weight: normal;
  margin: 0;
  text-align: center;
  border-left: 10px solid #7fc042;
}
.post-content h2 {
  font-size: 20px;
  background-color: #f7f7f7;
  color: #33363b;
  font-weight: normal;
  margin: 3px 0;
  padding: 0px 0 0px 15px;
  border-left: 3px solid #449fe6;
}
.post-content p{
  /*text-indent: 2em;*/
  line-height: 1.5em;
  margin: 0;
}
.post-content blockquote {
  margin: 15px 0;
  padding: 0 14px;
  font-size: 16px;
  color: #777;
  border-left: 4px solid #ddd;
}
code {
  background: #eee;
  color: #c7254e;
  border: 1px solid #ccc;
  border-radius: .25em;
  padding: 2px 4px;
  line-height: 14px;
  word-wrap: break-word;
}
pre {
  padding: 10px 0 10px 0;
  margin: 0px;
}
pre code{
  border-width: 0 0 0 5px;
  border-style: solid;
  border-color: rgba(102, 128, 153, 0.075) rgba(102, 128, 153, 0.075) rgba(102, 128, 153, 0.075) rgba(102, 128, 153, 0.75);
  margin: 0;
  line-height: 18px;
  border-radius: 0em;
}
.post-meta time {
  padding: 8px 18px 0 18px;;
  margin: 0 0 15px 0;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.button-right {
  float: right;
}
@media (min-width: 768px){
  .post-title {
    padding: 15px 0.5em;
    font-size: 2em;
  }
  .post-content h2 {
    line-height: 40px;
    margin: 20px 0 15px 0;
  }
  .post-content p {
    padding: 2px 18px;
  }
  ul,
  ol {
    padding: 2px 18px 2px 38px;
  }
  .accordion-link-i {
    margin-right: 8px;
  }
}
@media (max-width: 767px){
  .mdl-layout-title {
    font-size: 14px;
  }
  .post-title{
    padding: 10px 0.5em;
    font-size: 1.5em;
  }
  .post-content h2 {
    line-height: 35px;
    margin: 15px 0 10px 0;
  }
  .post-content p{
    padding: 2px 10px;
  }
  ul,
  ol {
    padding: 2px 10px 2px 28px;
  }
  .accordion-link-i {
    display: block;
  }
}
.github-icon {
  height: 36px;
  width: 24px;
}
/* -- timeline --*/
.timeline {
  display: block;
  margin: 25px;
}
.grain-set {
  position: relative;
  color: #555;
  margin: 60px 0;
  border-left: ;
  font-size: 16px;
  line-height: 27.2px;
}
.grain-set::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #bbb none repeat scroll 0% 0%;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: background 0.2s ease-in-out;
}
.grain-set-year {
  display: block;
  margin: 20px 0 10px 20px;
  padding: 0;
  transform: translateX(0px);
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
}
.grain {
  color: #555;
  display: block;
  font-size: 16px;
  line-height: 27.2px;
  margin: 30px 0;
  opacity: 1;
  transform: translateY(0px);
}
.info-header {
  border-bottom: 1px dashed #ccc;
  display: block;
  font-size: 16px;
  position: relative;
  transition: border 0.2s ease-in-out 0s;
}
.info-header::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 12px;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background: #bbb;
  border-radius: 50%;
  border: 1px solid #fff;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: background;
}
.info-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  margin: 20px 0 10px 60px;
  padding: 0;
}
.info-title-link {
  background-color: transparent;
  border-bottom: medium none;
  color: #666;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  word-wrap: break-word;
}
.info-time {
  font-size: 12px;
  left: 15px;
  position: absolute;
  top: 1px;
}
.info-header:hover {
  border-bottom-color: #666;
}
.timeline::after {
  content: " ";
  top: 20px;
  width: 4px;
  height: 100%;
  background: #f555 none repeat scroll 0% 0%;
  z-index: -1;
}
/* accordion */
.accordion {
  padding-left: 16px;
  padding-right: 16px;
  margin: 16px 8px;
  background: #fff;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: all .5s ease;
}
.accordion h3 {
  margin: 0;
  padding: 10px 0;
  font-size: 28px;
}
.accordion div {
  color: #999;
}
.accordion h3 a {
  color: #000;
  text-decoration: none;
  font-weight: normal;
}
.accordion h3 a:hover {
  font-weight: bold;
}
.accordion h3 + div {
  height: 0;
  overflow: hidden;
  transition: height .5s ease;
  -webkit-transition: height .5s ease;
}
.accordion:target h3 + div {
  height: 100px;
  overflow: auto;
}
.accordion:target h3 {
  padding-bottom: 0;
}
.accordion:hover {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.accordion:target a {
  font-weight: bold;
}
.accordion-links li a{
  word-wrap: break-word;
  text-decoration: none;
}
.accordion-links ul {
  margin: 0;
}
/* mdl-card */
.page-content {
  max-width: 1200px;
  margin: 0 auto; 
}
.mdl-card__title { 
  height: 176px;  
}
.post-button { 
  position: absolute; 
  right: 15px; 
  bottom: 25px; 
}
.card-highlight {
  position: relative;
  margin: 10px;
}
.card-highlight .mdl-card__supporting-text { 
  margin: 40px; 
  -webkit-box-flex: 1; 
  -webkit-flex-grow: 1; 
  -ms-flex-positive: 1; 
  flex-grow: 1; 
  padding: 0; 
  color: inherit; 
  width: calc(100% - 80px); 
}
.card-highlight .mdl-card__actions { 
  border-top: 1px solid rgba(0, 0, 0, 0.12); 
  margin: 0; padding: 4px 40px; 
  color: inherit; 
}
.card-highlight header { 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-align: center; 
  -webkit-align-items: center; 
  -ms-flex-align: center; 
  align-items: center; 
  -webkit-box-pack: center; 
  -webkit-justify-content: center; 
  -ms-flex-pack: center; 
  justify-content: center; 
  min-height: 200px;
}
.section-highlight button { 
  position: absolute; 
  z-index: 99; 
  top: 8px; 
  right: 8px; 
}
