<div class="mdl-layout__drawer">
  <header class="drawer-header">
    <a href="#">
      <img src="{{ site.owner.avatar }}" id="avatar">
    </a>
    {{% if site.owner.talk %}}
    <p id="avatar-talk" class="mdl-shadow--8dp mdl-color-text--grey-50">
    {{ site.owner.talk | newline_to_br }}
    </p>
    {{% endif %}}
  </header>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link mdl-color-text--grey-900" href="/"><i class="material-icons">home</i>{{ site.navigation.home }}</a>
    <a class="mdl-navigation__link mdl-color-text--grey-900" href="/style.html"><i class="material-icons">style</i>{{ site.navigation.style }}</a>
    <a class="mdl-navigation__link mdl-color-text--grey-900" href="/local_movies.html"><i class="material-icons">local_movies</i>{{ site.navigation.local_movies }}</a>
    <a class="mdl-navigation__link mdl-color-text--grey-900" href="/timeline.html"><i class="material-icons">timeline</i>{{ site.navigation.timeline }}</a>
    <div class="drawer-separator"></div>
    <a class="mdl-navigation__link mdl-color-text--grey-900" href="#"><i class="material-icons">near_me</i>{{ site.navigation.near_me }}</a>
  </nav>
</div>
