<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Conten of blog">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="keywords" content="personal blog, 个人博客, {% if page.categories %}{{ page.categories }}, {% endif %}{% if page.tags %}{{ page.tags }}{% endif %}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="time-river">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  {% include css.html %}
</head>
