<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Conten of blog">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="keywords" content="personal website, 个人网站, {% if page.tags %}{{ page.tags }}{% endif %}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="time-river">
  {% if page.title %}
  <link href="//cdn.bootcss.com/material-design-lite/1.0.6/material.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.lug.ustc.edu.cn/icon?family=Material+Icons">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link href="https://cdn.bootcss.com/highlight.js/9.0.0/styles/default.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/highlight.js/9.0.0/styles/mono-blue.min.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% else %}
  <link rel="stylesheet" href="/assets/css/index.css">
  {% endif %}
  <link rel="stylesheet" href="/assets/css/fonts.css">
</head>
