---
layout: layout
title: timeline
---
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <div class="timeline">
      {% for post in site.posts %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture prev_year %}{{ post.next.date | date: "%Y"}}{% endcapture %}
      {% if forloop.first %}
      <div class="grain-set">
        <h2 class="grain-set-year">{{ this_year }}</h2>
      </div>
      {% else %}
      {% if this_year != prev_year %}
      <div class="grain-set">
        <h1 class="grain-set-year">{{ this_year }}</h2>
      </div>
      {% endif %}
      {% endif %}
      <section class="grain">
        <header class="info-header">
          <h2 class="info-title"><a class="info-title-link" href="{{ post.url }}">{{ post.title }}</a></h1>
          <time class="info-time">{{ post.date | date: "%m-%d" }}</time>
        </header>
      </section>
      {% endfor %}
    </div>
  </div>
</div>
